@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>eBuy - login</title>


    <!-- Core CSS - Include with every page -->

    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/bootstrap/font-awesome/css/font-awesome.css")" rel="stylesheet" />

    <!-- Page-Level Plugin CSS - Forms -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="@Url.Content("~/Content/bootstrap/css/sb-admin.css")" rel="stylesheet" />
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Login")">eBuy electronics</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="@Url.Action("Index", "Login")">Sign In</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Registration")" class="btn btn-success btn-xs">New User - Sign Up for eBuy</a>
                </li>


            </ul>
        </nav>

        <div class="container">

            <div class="row">

                <div class="col-md-4 col-md-offset-4">

                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In to eBuy electronics</h3>
                        </div>
                        <div class="panel-body">
                            <div align="center">
                                <img src="@Url.Content("~/Images/logo.png")">
                            </div>
                            <span class="text-success">@ViewBag.sucMsg</span>
                            <form id="ValidateLogin" method="post" action="@Url.Action("CheckLoginAccess", "Login",new {ReturnUrl = Request.QueryString["ReturnUrl"] })">

                             

                                <div class="form-group">

                                    <input class="form-control" placeholder="username" id="" type="text" name="Loginname" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="Password" type="Password" />
                                </div>
                               
                                <!-- Change this to a button or input when using this as a form -->

                                <button id="btnLoginsubmit" type="submit" class="btn btn-primary">Sign In</button>
                                <a href="@Url.Action("Index", "Registration")" class="btn btn-success">Sign Up for eBuy</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-form-validation-V.1.js")"></script>

</body>

</html>

<style>
        form label.error {
        font: 10px Tahoma,sans-serif;
        color: #ED7476;
        margin-left: 5px;
    }

    form input.error, form input.error:hover, form input.error:focus, form select.error,
    form textarea.error {
        border: 1px solid #ED7476;
        background: #FFEDED;
    }
    </style>